<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rapidsos.shared">

    <application
        android:fullBackupContent="false"
        tools:replace="fullBackupContent">

        <service
            android:name=".PanicIntentService"
            android:exported="false" />

        <activity
            android:name=".midas_confirmation_activity.view.ConfirmationActivity"
            android:label=""
            android:theme="@style/AppTheme.Transparent" />

    </application>

</manifest>
